@import '../style/variables.scss';
@import '../style/mixin.scss';
@import "../style/element-overwrite.scss";

.layout-header {
  display            : flex;
  justify-content    : space-between;
  height             : $header-height;
  background-color   : var(--header-bgcolor);
  // padding         : 0 !important;
  padding-right      : 36px;
  position           : relative;
  @include el-input-theme(var(--header-input-color),
    var(--header-input-bgcolor),
    var(--header-input-placeholder-color));

  /deep/.iconfont {
    color: var(--header-font-color);
  }

  .drag-section {
    flex              : 1;
    -webkit-app-region: drag;
  }

  .left {
    padding: 14px 14px 0 8px;
    display: flex;

    .font-weight {
      white-space: nowrap;
    }

    .buttons {
      display: flex;

      &:hover {
        .mac-button>i {
          opacity: 1;
        }
      }

      .mac-button {
        @include round(12px);
        @include flex-center;
        margin-right: 8px;
        cursor      : pointer;

        &.red {
          background: #ed655a;
        }

        &.green {
          background: #72be47;
        }

        &.yellow {
          background: #e0c04c;
        }

        i {
          opacity         : 0;
          transition      : opacity 0.3s;
          color           : $black;
          font-weight     : $font-weight-bold;
          transform-origin: center center;
        }
      }
    }

    .shrink-player {
      position   : relative;
      top        : -6px;
      margin-left: 16px;
    }

    .history {
      margin-left: 65px;
    }

    .actions {
      margin-left: 70px;
    }
  }

  .right {
    display    : flex;
    align-items: center;

    .search-wrap {
      margin-right: 16px;
    }
  }

  &:hover .close-btn {
    opacity: 1;
  }

  .close-btn {
    position       : absolute;
    top            : 0;
    right          : 0;
    height         : 1.6rem;
    transition     : opacity .5s;
    width          : 1.6rem;
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : .8rem;
    opacity        : 0;
    cursor: pointer;
    background     : #ed655a;
    color: #fff;
  }
}